<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="page-enter" content="revealtrans(duration=seconds,transition=num)" />
    <link rel="stylesheet" href="../style/cafe.css" />
    <link rel="stylesheet" href="../style/cafe_table.css" />
    <link rel="stylesheet" href="../style/main.css" />
    <link rel="stylesheet" href="../style/folder_admin.css" />
    <link rel="stylesheet" href="../style/up_load_file.css" />



</head>

<body onmousedown="mouseevent(event)" oncontextmenu="return false" onclick="hidemeanu()">
    
    <div class="man_top_bar" style="z-index: 100;width: 100VW;">

        <input type="text" class="search_input_div" placeholder="搜索内容" style="display: none;">
        <img src="../image/search.png" class="search_ico" style="margin-top: 10px;margin-left: -45px;" alt="">
        <img src="../image/off.png" onclick="close_win()" class="top_bar_done_ico" alt="">
        <img src="../image/restore_win.png" class="top_bar_done_ico" alt="">
        <img src="../image/small_window.png" class="top_bar_done_ico" alt="">


    </div>
    <div class="top_bar_native" id="top_bar_native">

    </div>

    <div class="left_list_div">
        <div class="count_size_div">
            <div class="count_title">储存空间</div>
            <div class="count_process">
                <div class="count_process_value" style="width: 1%;"></div>
            </div>
            <div class="count_value_n" id="cloud_count_size">0/0 (GB)</div>
        </div>

        <div class="file_type_list" style="margin-top: 20px;">
            <div class="file_left_item_child file_item_active" up_status="全部文件" onclick="choose_left_item(this)">
                <img src="../image/draft_box.png" class="file_left_item_child_ico" alt="">
                <div class="file_left_item_child_name">全部文件</div>
            </div>


        </div>
        <div class="left_div_title">传输文件</div>
        <div class="file_type_list">
            <div class="file_left_item_child " up_status="等待中" onclick="choose_left_item(this)">
                <img src="../image/waiting_upload_ico.png" class="file_left_item_child_ico" alt="">
                <div class="file_left_item_child_name" id="wait_up_item_title">等待上传</div>
            </div>
            <div class="file_left_item_child" up_status="上传中" onclick="choose_left_item(this)">
                <img src="../image/cloud_upload.png" class="file_left_item_child_ico" alt="">
                <div class="file_left_item_child_name" id="loading_up_item_title">正在上传</div>
            </div>
            <div class="file_left_item_child" up_status="已完成" onclick="choose_left_item(this)">
                <img src="../image/upload_finish.png" class="file_left_item_child_ico" alt="">
                <div class="file_left_item_child_name" id="done_up_item_title">上传完成</div>
            </div>
            <div class="file_left_item_child" up_status="传输失败" onclick="choose_left_item(this)">
                <img src="../image/error_upload_ico.png" class="file_left_item_child_ico" alt="">
                <div class="file_left_item_child_name" id="error_up_item_title">传输失败</div>
            </div>
            <div class="file_left_item_child" up_status="已删除" onclick="choose_left_item(this)">
                <img src="../image/del_ico.png" class="file_left_item_child_ico" alt="">
                <div class="file_left_item_child_name" id="del_up_item_title">已删除</div>
            </div>
            <div class="foot_info_left_bottom">

                <div>
                    <img src="../image/logos.png" class="foot_logo" alt="">
                 
                </div>

               

            </div>
        </div>

    </div>
    <div class="right_div_box" id="right_div_box" style="display: none;">

        <div class="table_div" id="table_1">
            <div class="table_tool_bar" style="position: fixed; height: 70px;padding-top: 8px;; width: calc(100vw - 240px); padding-right: 20px;; left: 200px;padding-left: 20px;; ;z-index: 99; background-color: #fff; z-index: 99; ">
                <div class="table_foot_item_noborder_page_limit" style="margin-top: 15px;" id="up_title_in">上传中的任务:</div>
                <input type="file" id="up_file_tmp_s" multiple style="display:none" onchange="choosefilechange()">


            </div>
            <table class="table_cafe" style="margin-top: 80px;">
                <thead>

                    <tr>
                        <th class="teble_header_item " data_key="file_name">上传目录</th>
                        <th class="teble_header_item " data_key="file_name">文件名</th>
                        <th class="teble_header_item " data_key="file_size">大小</th>
                        <th class="teble_header_item " data_key="file_size">状态</th>
                        <th class="teble_header_item " data_key="file_size">修改时间</th>
                        <th class="teble_header_item ">操作</th>
                    </tr>
                </thead>

                <tbody class="table_body_cafe" id="up_load_list_box">


                </tbody>


            </table>


        </div>
        <div class="file_404" id="file_404" style="display: none;">
            <img src="../image/search_error.png" class="no_file_ico" alt="">
            <div class="no_file_text">暂无正在上传的文件/文件夹</div>
        </div>




    </div>


    <input type="file" style="display: none;" multiple onchange="choosefilechange()" id="up_file_tmp_s">
    <div class="up_file_button_right" onclick="choose_file_up()">上传文件</div>
    <div class="folder_list_box" id="folder_list_box">




    </div>

    <div class="menu" id="menu">
        <div class="meanu_item_bar" onclick="add_new_folder()" id="rename_new_folder">
            <img src="../image/create_newfiles_ico.png" class="meanu_item_ico">
            <div class="meanu_item_text">新建文件夹</div>
        </div>
        <div class="meanu_item_bar" onclick="right_butto_open()" id="rename_open">
            <img src="../image/open_file.png" class="meanu_item_ico">
            <div class="meanu_item_text">打开</div>
        </div>
        <div class="meanu_item_bar" id="rename_meanu" onclick="rename()">
            <img src="../image/new_name_ico.png" class="meanu_item_ico">
            <div class="meanu_item_text">重命名</div>
        </div>
        <div class="meanu_item_bar" onclick="copy_button()" id="rename_copy">
            <img src="../image/ctrl_c_ico.png" class="meanu_item_ico">
            <div class="meanu_item_text">复制</div>
        </div>
        <div class="meanu_item_bar" onclick="p_button()" id="p_buttom">
            <img src="../image/ctrl_v_ico.png" class="meanu_item_ico">
            <div class="meanu_item_text">粘贴</div>
        </div>
        <div class="meanu_item_bar" onclick="cut_button()" id="rename_cut">
            <img src="../image/ctrl_x_ico.png" class="meanu_item_ico">
            <div class="meanu_item_text">剪切</div>
        </div>

        <div class="meanu_item_bar" onclick="d_button()" id="rename_del">
            <img src="../image/del_ico.png" class="meanu_item_ico">
            <div class="meanu_item_text">删除</div>
        </div>
        <div class="meanu_item_bar">
            <img src="../image/attribute_ico.png" class="meanu_item_ico">
            <div class="meanu_item_text">属性</div>
        </div>
        <div class="meanu_item_bar" onclick="rushlist()">
            <img src="../image/refresh_ico.png" class="meanu_item_ico">
            <div class="meanu_item_text">刷新</div>
        </div>

    </div>

    <div class="loading_div" id="loading_div" style="display: none;">
        <img src="../image/loading02(1).gif" class="loading_gif" alt="">
        <div class="loading_status" id="loading_status">....</div>
    </div>

</body>

<script src="../fun/cafe.js"></script>
<script src="../fun/qiniucore.js"></script>
<script src="../fun/folder_admin.js"></script>
<script src="../fun/up_load_file.js"></script>
<script src="../fun/qiniu.js"></script>


</html>